# Игнорируем node_modules - они будут установлены заново
node_modules

# Игнорируем скрытые файлы
.*
!.gitignore

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем сборку Next.js
.next
out

# Игнорируем IDE файлы
.idea
.vscode